[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ipython = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
yfinance = "*"
configparser = "*"
quandl = "*"

[dev-packages]

[requires]
python_version = "3.11"
